.general {
    padding: 15px 15px;
}
button {
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid;
    margin-left: 20px;
}
.textButton {
    align-items: center;
    display: flex;
}
textarea {
    width: 400px;
    height: 70px;
}