.item {
    color: rgb(2, 2, 2);
    
}
.avaMessage img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 20px;
}
.avaMessage {
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.like {
    padding-top: 10px;
}