
.app-wrapper {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-rows:40px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 15px;
}
.app-wrapper-content {
  grid-area: c;
  background-color: rgb(247, 246, 231);
}
.app-wrapper-friends {
  grid-area: n;
  margin-top: 212px;
}
